.head_table {
    border-color: #2175ac !important;
    border-bottom: 0px;
        border-bottom-color: currentcolor;
    border-bottom-color: currentcolor;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
}